@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Sides & Beverages</h1>

<div class="card-columns" style="text-align:center">
    <div class="card bg-dark text-white">
        <br /><br />
        <img class="card-img-top" src="https://www.dominos.co.in/files/items/garlic-bread.webp" alt="GARLIC BREADSTICKS" style="width:200px;height:200px;">
        <h4>GARLIC BREADSTICKS</h4>
        <p>The endearing tang of garlic in breadstics baked to perfection.</p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="39">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card text-white bg-info">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/stuffed-garlic-breadstick_1346070564.webp" alt="STUFFED GARLIC BREAD" style="width:200px;height:200px;">
        <h4>STUFFED GARLIC BREAD</h4>
        <p>Freshly Baked Garlic Bread stuffed with mozzarella cheese, sweet corns & tangy and spicy jalapeños</p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="40">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card bg-dark text-white">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/BRD0031.webp" alt="CHICKEN PEPPERONI STUFFED GARLIC BREAD" style="width:200px;height:200px;">
        <h4>CHICKEN PEPPERONI STUFFED GARLIC BREAD</h4>
        <p>Freshly Baked Garlic Bread stuffed with Delectable Chicken Pepperoni, Cheese and sprinkled with Basil Parsley</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="41">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
</div>
<br />
<br />
<div class="card-columns" style="text-align:center">
    <div class="card bg-info text-white">
        <br /><br />
        <img class="card-img-top" src="https://www.dominos.co.in/files/items/BRD0030.webp" alt="PANEER TIKKA STUFFED GARLIC BREAD" style="width:200px;height:200px;">
        <h4>PANEER TIKKA STUFFED GARLIC BREAD</h4>
        <p>Freshly Baked Stuffed Garlic Bread with Cheese, Onion and Paneer Tikka fillings. Comes with a dash of Basil Parsley Sprinkle</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="42">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card text-white bg-dark">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/_thumb_17451.png" alt="CHEESE JALAPENO DIP" style="width:200px;height:200px;">
        <h4>CHEESE JALAPENO DIP</h4>
        <p>A soft creamy cheese dip spiced with jalapeno.</p><br /><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="43">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card bg-info text-white">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/_thumb_17450.png" alt="CHEESE DIP" style="width:200px;height:200px;">
        <h4>CHEESE DIP</h4>
        <p>A dreamy creamy cheese dip to add that extra tang to your snack.</p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="44">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
</div>
<br />
<br />
<div class="card-columns" style="text-align:center">
    <div class="card bg-dark text-white">
        <br /><br />
        <img class="card-img-top" src="https://www.dominos.co.in/files/items/choco-lava-cake-771.jpg" alt="LAVA CAKE" style="width:200px;height:200px;">
        <h4>LAVA CAKE</h4>
        <p>Filled with delecious molten chocolate inside.</p><br /><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="45">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card text-white bg-info">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/170046_BMC_image_for_Website_272X272.jpg" alt="BUTTERSCOTCH MOUSSE CAKE" style="width:200px;height:200px;">
        <h4>BUTTERSCOTCH MOUSSE CAKE</h4>
        <p>A Creamy & Chocolaty indulgence with layers of rich, fluffy Butterscotch Cream and delicious Dark Chocolate Cake, topped with crunchy Dark Chocolate morsels - for a perfect dessert treat!</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="46">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card bg-dark text-white">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/CAKE03.jpg" alt="RED VELVET LAVA CAKE" style="width:200px;height:200px;">
        <h4>RED VELVET LAVA CAKE</h4>
        <p>A truly indulgent experience with sweet and rich red velvet cake on a creamy cheese flavoured base to give a burst of flavour in</p><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="47">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
</div>
<br />
<br />
<div class="card-columns" style="text-align:center">
    <div class="card bg-info text-white">
        <br /><br />
        <img class="card-img-top" src="https://www.dominos.co.in/files/items/Main_Menu-VG.jpg" alt="TACO MEXICANA VEG" style="width:200px;height:200px;">
        <h4>TACO MEXICANA VEG</h4>
        <p>A crispy flaky wrap filled with Mexican Arancini Bean Patty rolled over a creamy Harissa Sauce.</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="48">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card text-white bg-dark">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/Main_Menu-NVG.jpg" alt="TACO MEXICANA NON VEG" style="width:200px;height:200px;">
        <h4>TACO MEXICANA NON VEG</h4>
        <p>A crispy flaky wrap filled with Hot and Smoky Chicken Patty rolled over a creamy Harissa Sauce.</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="49">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card bg-info text-white">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/150135_AHA_Menu_main_1.jpg" alt="VEG PARCEL" style="width:200px;height:200px;">
        <h4>VEG PARCEL</h4>
        <p></p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="50">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="card-columns" style="text-align:center">
    <div class="card bg-dark text-white">
        <br /><br />
        <img class="card-img-top" src="https://www.dominos.co.in/files/items/150135_Aha_Non_Veg_439x307-01.jpg" alt="CHICKEN PARCEL" style="width:200px;height:200px;">
        <h4>CHICKEN PARCEL</h4>
        <p></p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="51">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card text-white bg-info">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/crunchy_strips.png" alt="CRUNCHY STRIPS" style="width:200px;height:200px;">
        <h4>CRUNCHY STRIPS</h4>
        <p>Oven baked wheat thin crips with peri peri seasoning with a cheesy dip</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="52">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card bg-dark text-white">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/potato_cheese_shots.png" alt="POTATO CHEESE SHOTS" style="width:200px;height:200px;">
        <h4>POTATO CHEESE SHOTS</h4>
        <p>Crisp and golden outside,flavorful burst of cheese, potato & spice inside</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="53">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
</div>
<br />
<br />
<div class="card-columns" style="text-align:center">
    <div class="card bg-info text-white">
        <br /><br />
        <img class="card-img-top" src="https://www.dominos.co.in/files/items/taco.png" alt="TACO MEXICANA-VEG(SINGLE)" style="width:200px;height:200px;">
        <h4>TACO MEXICANA-VEG(SINGLE)</h4>
        <p>Truly irresistible! Crispy taco with a decicious veg patty & creamy sauce</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="54">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card text-white bg-dark">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/crinkle_fries.png" alt="CRINKLE FRIES" style="width:200px;height:200px;">
        <h4>CRINKLE FRIES</h4>
        <p>Crispy wavy masala coated fries served with a spicy tomato chilli sauce</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="55">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card bg-info text-white">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/brownie_fantasy.png" alt="BROWNIE FANTASY" style="width:200px;height:200px;">
        <h4>BROWNIE FANTASY</h4>
        <p>Sweet Temptation! Hot Chocolate Brownie drizzled with chocolate fudge sauce</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="56">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
</div>