@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1 style="text-align:center;">NON-VEG PIZZA</h1>

<div class="card-columns" style="text-align:center">
    <div class="card bg-dark text-white">
        <br /><br />
        <img class="card-img-top" src="https://www.dominos.co.in/files/items/MicrosoftTeams-image_(14).png" alt="CHICKEN GOLDEN DELIGHT" style="width:200px;height:200px;">
        <h4>CHICKEN GOLDEN DELIGHT</h4>
        <p>Mmm! Barbeque chicken with a topping of golden corn loaded with extra cheese. Worth its weight in gold!</p><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="16">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card text-white bg-info">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/MicrosoftTeams-image_(13).png" alt="NON VEG SUPREME" style="width:200px;height:200px;">
        <h4>NON VEG SUPREME</h4>
        <p>Bite into supreme delight of Black Olives, Onions, Grilled Mushrooms, Pepper BBQ Chicken, Peri-Peri Chicken, Grilled Chicken Rashers</p><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="17">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card bg-dark text-white">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/MicrosoftTeams-image_(11).png" alt="vCHICKEN DOMINATOR" style="width:200px;height:200px;">
        <h4>CHICKEN DOMINATOR</h4>
        <p>Treat your taste buds with Double Pepper Barbecue Chicken, Peri-Peri Chicken, Chicken Tikka & Grilled Chicken Rashers</p><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="18">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
</div>
<br />
<br />
<div class="card-columns" style="text-align:center">
    <div class="card bg-info text-white">
        <br /><br />
        <img class="card-img-top" src="https://www.dominos.co.in/files/items/Pepper_Barbeque_&_Onion.jpg" alt="PEPPER BARBECUE & ONION" style="width:200px;height:200px;">
        <h4>PEPPER BARBECUE & ONION</h4>
        <p>Pepper Barbecue Chicken I Onion</p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="19">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card text-white bg-dark">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/MicrosoftTeams-image_(15).png" alt="PEPPER BARBECUE CHICKEN" style="width:200px;height:200px;">
        <h4>PEPPER BARBECUE CHICKEN</h4>
        <p>Pepper Barbecue Chicken I Cheese</p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="20">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card bg-info text-white">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/MicrosoftTeams-image_(17).png" alt="CHICKEN SAUSAGE" style="width:200px;height:200px;">
        <h4>CHICKEN SAUSAGE</h4>
        <p>Chicken Sausage & Cheese</p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="21">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
</div>
<br />
<br />
<div class="card-columns" style="text-align:center">
    <div class="card bg-dark text-white">
        <br /><br />
        <img class="card-img-top" src="https://www.dominos.co.in/files/items/MicrosoftTeams-image_(10).png" alt="CHICKEN FIESTA" style="width:200px;height:200px;">
        <h4>CHICKEN FIESTA</h4>
        <p>Grilled Chicken Rashers I Peri-Peri Chicken I Onion I Capsicum</p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="22">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card text-white bg-info">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/MicrosoftTeams-image_(18).png" alt="INDI CHICKEN TIKKA" style="width:200px;height:200px;">
        <h4>INDI CHICKEN TIKKA</h4>
        <p>The wholesome flavour of tandoori masala with Chicken tikka I onion I red paprika I mint mayo</p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="23">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card bg-dark text-white">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/MicrosoftTeams-image_(20).png" alt="CHICKEN PEPPERONI" style="width:200px;height:200px;">
        <h4>CHICKEN PEPPERONI</h4>
        <p>A classic American taste! Relish the delectable flavor of Chicken Pepperoni, topped with extra cheese</p><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="24">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
</div>
<br />
<br />
<div class="card-columns" style="text-align:center">
    <div class="card bg-info text-white">
        <br /><br />
        <img class="card-img-top" src="https://www.dominos.co.in/files/items/CreamyTomatoPPVG.jpg" alt="CREAMY TOMATO PASTA PIZZA - NON VEG" style="width:200px;height:200px;">
        <h4>CREAMY TOMATO PASTA PIZZA - NON VEG</h4>
        <p>Loaded with a delicious creamy tomato pasta topping , green capsicum, crunchy red and yellow bell peppers and black olives</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="25">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card text-white bg-dark">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/updated_keema_do_pyaza.webp" alt="KEEMA DO PYAZA" style="width:200px;height:200px;">
        <h4>KEEMA DO PYAZA</h4>
        <p>Delicious minced chicken keema topped with crunchy onions on your favourite cheesy pizza</p><br /><br />
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="26">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
    <div class="card bg-info text-white">
        <br /><br />
        <img class=card-img-top src="https://www.dominos.co.in/files/items/MoroccanSpicePPNV_N.jpg" alt="MOROCCAN SPICE PASTA PIZZA - NON VEG" style="width:200px;height:200px;">
        <h4>MOROCCAN SPICE PASTA PIZZA - NON VEG</h4>
        <p>A pizza loaded with a spicy combination of Harissa sauce, Peri Peri chicken chunks and delicious pasta.</p>
        <button class="btn bg-white"><a asp-area="RestaurantMgmt" asp-controller="Items" asp-action="GetMenuOfItemCategory" asp-route-filterItemId="27">ORDER NOW</a></button><br />
        <p></p><br />
    </div>
</div>
<br />
<br />